.cperfume_images{
    height: 320px;
    width: 100%;
}
.cperfume-bottle{
    /* border: 2px solid red; */
    height: 92%;
    width: 96%;
    background-color: #f1eceb;
}
.ctag{
    height: 58px;
    width:18%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* visibility:hidden; */
    background-color: rgb(244, 81, 81);
    color: white;
    border-radius: 50%;
}

.cheart{
    position: relative;
    top: -69%;
    left: 87%;
    font-size: 29px;
}
.ctag{
    position: relative;
    top: -76%;
    left: 3%;
}
.visible{
    visibility: hidden;
}
.ctag h2{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}
.ctext{
    position:relative;
    bottom: 17%;
    text-align: center;
    width: 100%;
}
.ctext p{
    padding: 0px 0px;
    margin: 0px 0px;
    margin-bottom: 2px;
    font-size: 14px;
    color: gray;
}
.ctext h2{
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
}